[submodule "site_lib"]
	path = site_lib
	url = https://github.com/eprintsug/ulcc-site_lib
[submodule "lib/epm/rioxx2"]
	path = lib/epm/rioxx2
	url = https://github.com/eprintsug/rioxx2
[submodule "gitaar"]
	path = gitaar
	url = https://github.com/eprintsug/gitaar
